* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Playwrite CU", cursive;
}

html {
  scroll-behavior: smooth;
}

/* Navigation Bar */

#nav {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav h1 {
  margin-left: 30px;
  font-weight: 800;
  display: inline;
  font-size: 32px;
  background: linear-gradient(
    128deg,
    rgba(131, 201, 244, 1) 0%,
    rgb(217, 168, 153) 60%,
    rgb(204, 133, 199) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#nav a {
  text-decoration: none;
  color: #401f3e;
  margin-right: 50px;
  padding: 5px 30px;
  border-radius: 1px;
  border: 1px solid #401f3e;
  transition: 0.3s;
  border-radius: 3px;
}

#nav a:hover {
  background-color: #c86a99;
  border-color: #c86a99;
  transition: 0.3s;
  color: #fff;
}

/* Gallery */

#gallery {
  min-height: 95vh;
  height: auto;
  background: linear-gradient(
    164deg,
    rgba(131, 201, 244, 1) 0%,
    rgba(217, 153, 185, 1) 62%,
    rgba(64, 31, 62, 1) 98%
  );
  padding: 5px;
}

/* title */

.title {
  width: 100%;
  text-align: center;
  display: inline-block;
  font-weight: 800;
}

.title h2 {
  font-weight: 100;
  z-index: 1;
  padding: 0 20px;
  color: #fff;
  display: inline;
}

.title hr {
  width: 32%;
  height: 1px;
  background-color: #fff;
  border: none;
  display: inline-block;
  z-index: -2;
  margin: 0 10px;
}

/*Card */

.card {
  width: 280px;
  height: 340px;
  max-height: auto;
  background-color: #fff;
  border-radius: 16px;
  position: relative;
  padding: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.card:hover {
  transition: 0.3s;
  transform: scale(105%);
}

.profile-pic {
  width: 30px;
  border-radius: 100%;
  margin: 5px;
  cursor: pointer;
}

.name {
  display: inline;
  font-size: 9px;
  color: #444;
  font-weight: 600;
  position: absolute;
  top: 10px;
}

.name i {
  background-color: #2688fd;
  border-radius: 100%;
  transform: scale(60%);
  color: #fff;
}

.trash-icon {
  position: absolute;
  top: 12px;
  right: 20px;
  color: #666;
  transform: scale(125%);
  transition: 0.3s;
  cursor: pointer;
}

.trash-icon:hover {
  transition: 0.3s;
  color: #d9655a;
  animation: shake 0.7s;
}

.photo {
  width: 100%;
  height: 60%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
}
.photo img {
  width: 100%;
  transition: 0.5s;
}

.photo:hover {
  transition: 0.5s;
}
.photo:hover img {
  transform: scale(110%);
  transition: 0.5s;
}

.heart-icon {
  color: #666;
  transform: scale(120%);
  position: absolute;
  margin-top: 15px;
  right: 15px;
  transition: 0.3s;
  cursor: pointer;
}

.heart-active {
  color: #d9655a;
  animation: beat 0.7s;
  transition: 0.5s;
}

.photo-text {
  width: 100%;
  margin-top: 35px;
  height: auto;
}

.photo-name-likes {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.photo-text h4 {
  font-weight: 400;
  font-size: 16px;
  margin-left: 5px;
}
.photo-text h6 {
  margin-right: 5px;
  font-weight: 200;
}

.photo-text p {
  height: 32px;
  font-size: 12px;
  margin: 10px auto;
  width: 80%;
  overflow: hidden;
}

/* Photo grid */

.photo-grid {
  padding: 60px 0px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  column-gap: 30px;
  row-gap: 30px;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
}

/* Add photo page */

#add-page {
  height: 95vh;
  background: linear-gradient(
    164deg,
    rgba(131, 201, 244, 1) 0%,
    rgba(217, 153, 185, 1) 62%,
    rgba(64, 31, 62, 1) 98%
  );
  padding-top: 100px;
}

#add-photo-form {
  width: 350px;
  margin: 50px auto;
  height: auto;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#add-photo-form label {
  color: #fff;
  margin: 5px 0px;
  align-self: flex-start;
}

#add-photo-form input,
#add-photo-form textarea {
  width: 100%;
  margin-bottom: 30px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 3px;
  padding: 2px 10px;
  box-sizing: border-box;
  transition: 0.3s;
  outline: none;
}

#add-photo-form input:focus,
#add-photo-form textarea:focus {
  transition: 0.3s;
  border-color: #c86a99;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5); /* Optional: add shadow for a better visual effect */
}

#add-photo-form button {
  width: 80px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #fff;
  align-self: center;
  border-radius: 2px;
  transition: 0.3s;
  cursor: pointer;
  align-self: flex-end;
  color: #fff;
}

#add-photo-form button:hover {
  transition: 0.3s;
  background-color: #fff;
  color: #401f3e;
}

input[type="file"] {
  display: none;
  transition: 0.3;
}

.custom-file-upload {
  border: 1px solid #fff;
  border-radius: 2px;
  padding: 6px 6px;
  min-width: 50%;
  text-align: center;
  cursor: pointer;
  transition: 0.3;
}

.custom-file-upload:hover {
  transition: 0.3s;
  background-color: #fff;
  color: #401f3e !important;
}
/* Responsiveness */

@media (max-width: 1400px) {
  .photo-grid {
    grid-template-columns: auto auto auto;
  }
}

@media (max-width: 1100px) {
  #nav h1 {
    font-size: 18px;
  }

  #nav a {
    font-size: 14px;
    margin-right: 20px;
  }

  .title h2 {
    font-size: 16px;
    padding: 0 10px;
  }

  .title hr {
    width: 25%;
  }

  .photo-grid {
    grid-template-columns: auto auto;
  }

  #add-photo-form button {
    right: -70%;
  }
}

@media (max-width: 700px) {
  .photo-grid {
    grid-template-columns: auto;
  }

  #add-photo-form button {
    right: 0%;
  }
}

@media (max-width: 500px) {
  .title h2 {
    font-size: 14px;
    padding: 0 5px;
  }

  .title hr {
    width: 20%;
  }
  #add-photo-form {
    width: 60%;
  }
}

/* Keyframes animations */
@keyframes shake {
  0% {
    transform: scale(125%);
  }
  10% {
    transform: scale(125%) rotate(-10deg);
  }
  40% {
    transform: scale(125%) rotate(10deg);
  }
  70% {
    transform: scale(125%) rotate(-10deg);
  }
  100% {
    transform: scale(125%) rotate(0deg);
  }
}

@keyframes beat {
  0% {
    transform: scale(120%);
  }
  50% {
    transform: scale(150%);
  }
  100% {
    transform: scale(120%);
  }
}
